.nested-fields.well
  =link_to_remove_association "Remove this content attribute", f, :class => 'pull-right', :icon => 'trash-o'
  .clearfix
  =f.inputs do
    =f.input :name
    =f.input :field_type, :as => :select, :collection => ContentAttribute.field_types.invert, :prompt => "Select..."
    =#link_to('Show more', '#' , :class => 'btn btn-primary1 btn-small reveal pull-right')
    =f.input :description, :input_html => {:rows => 2}
    .character-limit-inputs{:class => f.object.limitable? ? '' : 'hide'}
      =f.input :limit_quantity
      =f.input :limit_unit, :as => :select, :collection => [['Characters', 'character'], ['Words', 'word']], :include_blank => false
    .sir-trevor-settings{:class => f.object.field_type == 'rich' ? '' : 'hide'}
      %p
        Select the number of content blocks that can be used, selecting 0 will make that block unavailable and leaving a field blank will mean there is no limit on that block type
      =f.input :num_text_blocks, as: :select, collection: 0..20, label: 'Maximum allowed text blocks'
      =f.input :num_heading_blocks, as: :select, collection: 0..20, label: 'Maximum allowed heading blocks'
      =f.input :num_list_blocks, as: :select, collection: 0..20, label: 'Maximum allowed list blocks'
      =f.input :num_image_blocks, as: :select, collection: 0..20, label: 'Maximum allowed image blocks'
      =f.input :num_video_blocks, as: :select, collection: 0..20, label: 'Maximum allowed video blocks'
      =f.input :num_quote_blocks, as: :select, collection: 0..20, label: 'Maximum allowed quote blocks'
    =f.input :position, :as => :hidden
    =f.input :required, :default => false, :label => "This is a required field"
    =f.input :meta, :default => false, :label => "This is a meta attribute"
    .meta-attributes{:class => f.object.meta? ? '' : 'hide'}
      %p
        The site has default values for meta tags. Adding a meta attribute here allows editors to override them on pages using this content template.
      =f.input :meta_tag_name, :as => :select, :collection => ContentAttribute::META_TAG_TYPES, :label => 'Choose the type of meta tag', :hint => "Meta tags for SEO and social networks are generated from this information. You only need one of each type per template. "
      =f.input :default_attribute, :as => :select, :collection => @content_type.content_attributes.select{|a| !a.meta?}, :label => "Select a value for this meta tag to default to", :prompt => "Select..."
