-content_for :head do
  :javascript
    $(".nested-fields").sortable({
      containment: "parent",
      stop: function(event, ui) {
        alert('done');
      }
    });
    
=semantic_form_for @content_type do |form|
  =form.inputs do
    =form.input :name
    -if current_user.yoomee_staff?
      =form.input :description, :input_html => {:rows => 4}
      =form.input :singleton
      =form.input :package_name
      =form.input :viewless
      =form.input :view_name
      =form.input :use_workflow
    %hr.pv-3
    #content_attributes
      %h3.mb-3.center Content attributes
      =form.semantic_fields_for :content_attributes do |content_attribute|
        =render 'content_attribute_fields', :f => content_attribute
        .links.mb-2
          %i.fa.fa-plus-circle
          =link_to_add_association 'Add content attribute', form, :content_attributes

  =form.actions