.row
  .col-md-12.mb-3
    %h2=title 'Content dashboard'
.row
  .col-md-8
    .well
      %h4.mt-0.mb-1
        Content status
      .row.cms-dashboard-btn
        .col-md-4
          =link_to filter_content_packages_path(:filter => 'draft'), :class=>"btn btn-block btn-with-number btn-cms-drafts fadeInPop" do
            %span.btn-cms-number
              =ContentPackage.where(:status => 'draft').count
            %span.btn-cms-text  
              Drafts
        .col-md-4
          =link_to filter_content_packages_path(:filter => 'pending'), :class=>"btn btn-block btn-with-number btn-cms-review fadeInPop" do
            %span.btn-cms-number
              =ContentPackage.where(:status => 'pending').count
            %span.btn-cms-text  
              Ready to review
        .col-md-4
          =link_to filter_content_packages_path(:filter => 'expiring'), :class=>"btn btn-block  btn-with-number btn-cms-old fadeInPop" do
            %span.btn-cms-number
              =ContentPackage.expiring.count
            %span.btn-cms-text  
              Getting old
    .well.cms-dashboard-well.clearfix.table-cms-dashboard.fadeInSlow      
      %h4.mt-0.b-1 Content assigned to you
      %table.table.table-striped.custab
        %thead
          %tr
            %th Content name
            %th Status
            %th Due date
            %th
        -ContentPackage.where(:author_id => current_user.try(:id)).each do |content_package|
          %tr
            %td=content_package
            %td=status(content_package.status)
            %td=content_package.due_date.try(:strftime, '%b %d, %Y')
            %td.text-right
              =link_to "View", content_package, :class=>"cms-table-view btn btn-small"
              =link_to "Edit", edit_content_package_path(content_package), :class=>"cms-table-view btn btn-small"
    .well.cms-dashboard-well.clearfix.fadeInSlow3
      %h4.mt-0.b-1 Recent Activity
      %ul.cms-activities
        -@activity_items.each do |activity|
          =render("content_packages/activity", :include_name => true, :activity => activity)
      .padding20px
      =link_to "See older activity", activity_content_packages_path, :remote => true, :class => 'btn btn-small js-older-activities'
  .col-md-4.fadeInSlow
    .well
      =link_to("Site map", content_packages_path, :class => 'btn btn-primary btn-block mb-1')
      =link_to("Create new content", new_content_package_path, :class => 'btn btn-primary btn-block mb-1')
      =link_to("Users & permissions", '#', :class => 'btn btn-block mb-1')
      =link_to("Manage personas", personas_path, :class => 'btn btn-primary btn-block mb-1')
      =link_to("Request content type", '#', :class => 'btn btn-block mb-1')