.container.cms-main#cms-style-container
  .row.cms-dashboard
    .col-xs-12
      %h1.cms-page-header=title 'Content dashboard'
  .row
    .col-md-8
      .cms-well
        %h4 Content status
        .row
          .col-md-4
            =link_to filter_content_packages_path(:filter => 'draft'), :class => "btn btn-block btn-primary btn-count fadeInPop mb-1" do
              %span.btn-number
                =ContentPackage.where(:status => 'draft').count
              %span.btn-text
                Drafts
          .col-md-4
            =link_to filter_content_packages_path(:filter => 'pending'), :class => "btn btn-block btn-secondary btn-count fadeInPop mb-1" do
              %span.btn-number
                =ContentPackage.where(:status => 'pending').count
              %span.btn-text
                Ready to review
          .col-md-4
            =link_to filter_content_packages_path(:filter => 'expiring'), :class=>"btn btn-block btn-default btn-count fadeInPop mb-1" do
              %span.btn-number
                =ContentPackage.expiring.count
              %span.btn-text
                Getting old
      -if current_user && ContentPackage.where(:author_id => current_user.try(:id)).count.nonzero?
        .cms-well.clearfix.table-cms-dashboard.fadeInSlow
          %h4 Content assigned to you
          %table.table.table-striped.custab
            %thead
              %tr
                %th Content name
                %th Status
                %th Due date
                %th
            -@my_content.each do |content_package|
              %tr
                %td=content_package
                %td=status(content_package.status)
                %td=content_package.due_date.try(:strftime, '%b %d, %Y')
                %td.text-right
                  -if !content_package.missing_view?
                    =link_to "View", content_package, :class=>"cms-table-view"
                  =link_to "Edit", edit_content_package_path(content_package), :class=>"cms-table-view"
      .cms-well.clearfix.fadeInSlow3
        %h4 Recent Activity
        %ul.cms-activities
          -@activity_items.each do |activity|
            =render("content_packages/activity", :include_name => true, :activity => activity)
        .text-center=link_to "See older activity", activity_content_packages_path, :remote => true, :class => 'btn btn-default btn-small js-older-activities fadeInPop'
    .col-md-4.fadeInSlow
      .cms-well.dashboard-actions
        =link_if_can("Create new content", new_content_package_path, :class => 'btn btn-primary btn-block mb-1')
        =link_if_can("Content list", content_packages_path, :class => 'btn btn-primary btn-block mb-1')
        =link_if_can("Users & permissions", '#', :class => 'btn btn-default btn-block disabled mb-1')
        =link_if_can("Manage personas", personas_path, :class => 'btn btn-primary btn-block mb-1')
        =link_if_can("Request content template", '#', :class => 'btn btn-default btn-block disabled mb-1')
