.row
  .col-md-12
    %h3=title 'Content dashboard'
.row
  .col-md-8
    .well
      Content status
    .well
      .pv-5 Content assigned to you (to author or review)
    .well
      .pv-5 Recent activity
  .col-md-4
    =link_to("Site map", content_packages_path, :class => 'btn btn-primary btn-block mb-1')
    =link_to("Create new content", new_content_package_path, :class => 'btn btn-primary btn-block mb-1')
    =link_to("Users & permissions", '#', :class => 'btn btn-block mb-1')
    =link_to("Manage personas", personas_path, :class => 'btn btn-primary btn-block mb-1')
    =link_to("Request content type", '#', :class => 'btn btn-block mb-1')