:javascript
  $(document).ready(function() {
    window.userFilter().init();
  });
.container
  .row
    .col-xs-12
      .cms-page-header
        .row
          .col-sm-6.col-sm-offset-3
            %h1=title("Users")
          .col-sm-3.cms-header-actions
            =link_if_can("Add new user", [:new, CmsUser.new], :icon => 'plus', :class => 'btn btn-success')
.container.page-margin-bottom
  .col-md-12
    
    %table.cms-table.users-table
      %thead
        %tr
          %th Name
          %th Role
          %th.filter-control
            .sitemap-filter.pull-right
              %strong Filter
              &nbsp;
              =select_tag(:role, options_for_select([['All', nil]] + CmsUser.available_roles, params[:filter]), :class => 'noselectpicker')
            %label.pull-right.m0
              =check_box_tag :show_inactive, '', @show_inactive
              Include inactive users
      %tbody
        -@users.each do |user|
          %tr.user-row{'data_user-id' => user.id, :class => "role-#{user.role} " + (user.active ? 'active' : 'inactive')}
            %td.user-name
              =link_to(user.full_name, cms_user_path(user))
            %td.user-role
              =user.role

            %td.user-actions
              =link_to('Edit', edit_cms_user_path(user), class: 'btn btn-xs btn-success edit-user-btn')
              =link_to( user.active ? 'Deactivate' : 'Reactivate', set_active_user_path(user), remote: true, method: :post, class: 'btn btn-xs btn-warning set-active-btn', confirm: 'Are you sure?')
              =link_to('Delete', cms_user_path(user), method: :delete, confirm: 'Are you sure?', remote: true,class: 'btn btn-xs btn-error delete-user-btn')
    =will_paginate @users
