.container.cms-main
  .col-md-6.col-md-offset-3
    .cms-page-header
      %h1=title(@user)
    .form-container
      .row.section-margin
        .col-xs-5
          .image-wrapper
            =image_for(@user, "200x200#")
        .col-xs-7
          .label.upper Email
          =link_to(@user.email)
          .clearfix.section-margin
          .label.upper Role
          -if @user.role.present?
            .btn.btn-default.btn-xs=@user.role
          -else
            =link_if_can("Set a role for this user", [:edit, @user])
          .clearfix.section-margin
          .label.upper Biography
          -if @user.bio.present?
            =@user.bio
          -else
            =link_if_can("Write a bio for this user", [:edit, @user])
      .row.section-margin
        .col-xs-12
          =options_panel do
            %a.btn.btn-default.btn-collapse{"aria-controls" => "allocated_content", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#allocated_content"}
              Content assigned to
              =title(@user.first_name)
            =link_if_can("Edit user", [:edit, @user] ,:class => 'btn btn-success pull-right')

      .row
        .col-xs-12
          #allocated_content.allocated_content.collapse
            %table
              %tbody
                %tr
                  %td.table-page
                    What girls in Girlguiding do
                  %td.table-action
                    =link_to('View', '#', :class => 'btn btn-xs btn-default')
                    =link_to('Edit', '#', :class => 'btn btn-xs btn-success')
                %tr
                  %td.table-page
                    Girls matter
                  %td.table-action
                    =link_to('View', '#', :class => 'btn btn-xs btn-default')
                    =link_to('Edit', '#', :class => 'btn btn-xs btn-success')
