.container.cms-main
  .col-md-6.col-md-offset-3
    .cms-page-header
      %h1=title(@user)
    .form-container
      .row.section-margin
        .col-xs-5
          .image-wrapper
            =image_for(@user, "200x200#")
        .col-xs-7
          .label.upper Email
          =link_to(@user.email)
          .clearfix.section-margin
          .label.upper Role
          -if @user.role.present?
            .btn.btn-default.btn-xs=@user.role
          -else
            =link_if_can("Set a role for this user", [:edit, @user])
          .clearfix.section-margin
          .label.upper Biography
          -if @user.bio.present?
            =@user.bio
          -else
            =link_if_can("Write a bio for this user", [:edit, @user])
      .row.section-margin
        .col-xs-12
          =options_panel do
            %a.btn.btn-default.btn-collapse{"aria-controls" => "allocated_content", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#allocated_content"}
              Content assigned to
              =title(@user.first_name)
            =link_if_can("Edit user", [:edit, @user] ,:class => 'btn btn-success pull-right')

      .row
        .col-xs-12
          #allocated_content.allocated_content.collapse
            %table
              %tbody
                -@assigned_content.each do |content_package|
                  %tr
                    %td.table-page
                      =content_package.name
                    %td.table-action
                      =link_to('View', content_package, :class => 'btn btn-xs btn-default') unless content_package.viewless? || content_package.missing_view?
                      -if can? :edit, content_package
                        =link_to('Edit', edit_content_package_path(content_package), :class => 'btn btn-xs btn-success')

