/* =======================================================================
   BUTTONS
   ======================================================================= */

// GENERAL BUTTONS

#cms-style-container { // ID wrap for specificty

.btn {
  white-space: normal;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 6px;
  color: white;
  @include media-query (sm) {
    padding: 18px 20px;
  }
  &:hover {
    color: white;
  }
}
.btn-default {
  color: #666;
  background: #D8D8DA;
  &:hover {
    color: white;
    background: darken(#D8D8D8, 5%);
  }
}
.btn-primary {
  background: $cms-primary-col;
  &:hover {
   background: darken($cms-primary-col, 5%);
  }
}
.btn-secondary {
  background: $cms-secondary-col;
  &:hover {
    background: darken($cms-secondary-col, 5%);
  }
}
.btn-success {
  background: $cms-success-col;
  &:hover {
    background: darken($cms-success-col, 5%);
  }
}
.btn-error {
  background: $cms-error-col;
  &:hover {
    background: darken($cms-error-col, 5%);
  }
}

// BUTTON MODIFIERS

.btn-small {
  padding: 8px 12px;
  @include media-query (sm) {
    padding: 8px 12px;
  }
}
.btn-count {
  padding:8px 12px;
  font-size: 15px;
  float: left;
  .btn-number {
    background: rgba(0,0,0,0.2);
    display: block;
    float: left;
    width: 32px;
    text-align: center;
    border-radius: 26px;
    line-height: 20px;
    font-size: 13px;
    padding: 6px 0;
  }
  .btn-text {
    text-align: left;
    float: left;
    margin: 1px 0 0 12px;
    font-size: 16px;
    line-height: 30px;
  }
}

// BUTTON EXTRAS

.btn-block + .btn-block {
  margin-top: 10px;
  @include media-query (sm) {
    margin-top: 0;
  }
}
.cms-tabs {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  li {
    display: inline-block;
    &.active a {
      background: $cms-primary-col;
      color: white;
    }
  }
  a {
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    &:hover {
      text-decoration: none;
      background: rgba(0,0,0,0.1);
    }
  }
  i {
    margin-right: 5px;
  }
}


} // END ID Wrap

