.controller_content_packages .cms-main .btn{
  float: right;
  min-width: 150px;
}
.action_dashboard .cms-dashboard .btn{
  background:#c9c9c9;
}
.cms-main .btn{
  background: $primary-grey;
  color: #666;
  &:hover{
    color:#666;
  }
}
.cms-main .btn.btn-primary1,
.cms-main .btn.btn-primary{
  background: $primary1;
  color:#fff;
  &:hover, &:focus{
    background: darken($primary1, 10%);
    color:#fff;
  }
}
.cms-main .btn.btn-primary2{
  background: $primary2;
  color:#fff;
  &:hover{
    background: darken($primary2, 10%);
  }
}
.cms-main .btn.btn-primary3{
  background: $primary3;
  color:#fff;
  &:hover, &:focus{
    background: darken($primary3, 10%);
    color: #fff;
  }
}
.cms-main .btn.btn-primary4{
  background: $primary4;
  &:hover{
    background: darken($primary4, 10%);
  }
}
.cms-main .btn.btn-grey{
  background: $primary-grey;
  &:hover{
    background: darken($primary-grey, 10%);
  }
}
.open .btn-default.dropdown-toggle{
  background: $primary1 !important;
}
.form-control{
  height: auto;
}
.btn#content_package_submit_action{
  float: right;
}
/* Hide save button for now */

.btn-cms-status {
  display: none;
}
.controller_content_types .btn:hover, .btn:focus{
  color: #fff;
}
.cms-edit-status .btn-group {
  width: 100% !important;
}
.cms-main .selectpicker.btn {
  background: #fff;
  border-radius:3px;
  color: #666;
  width: 100%;
  min-width: 0;
}
.main-wrapper .cms-sidebar .selectpicker.btn, 
.cms-main .form-group .selectpicker.btn{
    background: #f6f6f6;
    border: 1px solid #AFAFAF;
    padding: 12px 20px;
    &:hover{
      color:#333;
    }
}
.sitemap .selectpicker.btn{
  background:#f3f3f3;
  color: #777;
}
.sitemap .bootstrap-select.btn-group .selectpicker.btn .caret{
  border-top-color: #777;
}
.cms-edit-status .bootstrap-select.btn-group .btn .caret,
.content_package .bootstrap-select.btn-group .btn .caret {
  border-top-color: #666;
 }
.controller_content_packages .cms-main .cms-persona-box .btn{
  min-width: 0;
}
.btn.new-content{
  position: absolute;
  right: 0;
  top: -52px;
}
.cms-dashboard-btn div:nth-child(2){
  @include media-query (md) {
    padding:0;
  }
}
.cms-dashboard-btn .btn{
  @include media-query (sm-max) {
    margin:5px 0;
  }
}
.cms-dashboard-btn .btn-cms-text{
  @include media-query (md-max) {
    font-size: 14px;
  }
}