

/*==================== Dashboard ====================*/ 

.btn-with-number {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}
.btn-cms-number {
  background: rgba(0,0,0,0.2);
  display: block;
  float: left;
  width: 32px;
  text-align: center;
  border-radius: 26px;
  line-height: 20px;
  font-size: 13px;
  padding: 6px 0;
}
.btn-cms-drafts, .btn-cms-drafts:hover {
  background: #5a9acd;
}
.btn-cms-review, .btn-cms-review:hover {
  background: #b6c81c;
}
.btn-cms-old, .btn-cms-old:hover {
  background: #f8a14b;
}
.btn-cms-text {
  text-align: left;
  float: left;
  margin: 0 0 0 13px;
  font-size: 16px;
  line-height: 26px;
}
.cms-activities {
  float: left;
  width: 100%;
  margin: 0 0 20px;
  padding: 0;
}
.cms-activity {
  float: left;
  clear: both;
  list-style-type: none;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  padding: 15px 0;
  .desc {
    margin: 0 0 3px;
  }
  .when {
    color: #999;
  }
}
.cms-thumbnail {
  float: left;
  margin: 0px 10px 0px 0;
}
@media (min-width: 900px) {
  .cms-dashboard-btn .btn,
  .cms-dashboard-well {
    visibility: hidden;
  }
}
.redactor_box {
margin-bottom: 20px;
}
.sitemap-filter select {
  width: auto;
}
.sitemap .spacer{
  float:left;
  width: 20px;
  height: 36px;
  background: green;
  background: url(/assets/sitemap-spacer.png) 0 0 no-repeat;
}
.sitemap .spacer-mid{
  background-position: 0 -36px;
}
.sitemap .spacer-last{
  background-position: 0 -72px;
}
.sitemap .spacer-empty{
  background:none;
}
.sitemap tbody tr:hover {
  background:#f2f2f2;
}
.sitemap .table td{
  border-top: none;
}
.sitemap td.td-name{
  padding: 0;
}
.sitemap td.td-name .sitemap-caret{
  width:8px;
}
.sitemap td.td-name .fa-spinner{
  margin-left:-4px;
  width:12px;
}
.sitemap .has-children td.td-name {
  cursor: pointer;
}
.sitemap td.td-name .name {
  padding: 8px 8px 8px 4px  ;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  text-overflow: ellipsis;
}
#content-types.sitemap td.td-name .name{
  max-width: 500px;
}
.dashboard-actions:empty {
  display: none;
}

.dashboard-well.well{
  border:0;
  border-radius:3px;
  background: #fff;
}