//
// Edit page
// --------------------------------------------------

// Icons

.objective {
  .fa-flag,
  .fa-tags,
  .fa-cog {
    background: $cms-primary-col;
    color: #fff;
    padding:10px;
    border-radius: 4px;
    float: left;
    margin-right:20px;
  }
}
// Objective content 

.objective p {
  font-style: italic;
  line-height: 1.4em;
}