//
// Edit page
// --------------------------------------------------

// Icons

.objective {
  .fa-flag,
  .fa-tags,
  .fa-cog {
    background: $cms-primary-col;
    color: #fff;
    padding:10px;
    border-radius: 50%;
    float: left;
    margin-right:20px;
  }
}
