/* ===== Sortable =======*/

.form-sortable {
  .ui-sortable-helper {
    background:#ddd;
  }
  .well {
    font-size:16px;
    padding: 10px 15px;
    margin-bottom: 15px;
    cursor: move;
  }
  .well-placeholder {
    background:none;
    border-style:dashed;
    height:44px;
  }
  .controls{
    margin-right:180px;
  }
}

/* ====== Content types =======*/

.cms-form .nested-fields.well .form-group{
  background:transparent;
  padding: 0;
}
.main-wrapper .nested-fields .form-group .selectpicker.btn{
  background:#fff;
}
.cms-form .nested-fields .hide-it{
  display: none;
  clear: both;
  float: left;
  width: 100%;
}

.cms-main .cms-form .form-group > label{
  font-size: 16px;
  margin-bottom: 8px;
  width: 100%;
}
.cms-form .image.input{
  img{
    border-radius: 4px;
    float: left;
    margin:15px 18px;
  }
  .image-inputs {
    margin: 23px 14px;
    float: left;
  }
  .checkbox.remove-image{
    margin-left:0;
  }
}
.ui-autocomplete{
  overflow: scroll;
  height: 300px;
}
.ui-widget .ui-menu-item span{
  font-size: 1em;
}
.ui-widget .ui-menu-item em{
  font-size: 0.8em;
  color:#666;
}
#inside .ui-state-hover,
#inside .ui-widget-content .ui-state-hover,
#inside .ui-widget-header .ui-state-hover,
#inside .ui-state-focus,
#inside .ui-widget-content .ui-state-focus,
#inside .ui-widget-header .ui-state-focus{
  background-color: #F2F2F2;
  background-image:none;
  border:0;
  border-radius:0;
  padding: 2px 0.4em;
}
.cms-main .bootstrap-select.form-control:not([class*="span"]) {
  width: 100%;
}


/* =======================================================================
   FORMS
   ======================================================================= */

// GENERAL FORMS

#cms-style-container { // ID wrap for specificty

#content_search_link{
  &.form-control {
    padding-bottom: 20px;
    border: 0;
    outline: 0;
    border-bottom: 5px solid $cms-primary-col;
    font-size: 30px;
    font-weight: lighter;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    background: image_url('search-sitemap.png') no-repeat scroll 7px -4px;
    padding: 0 0 9px 44px;
  }
}
.content_search {
  margin-bottom: 40px;
}
.form-control, select {
  background:  #f3f3f3;
  border: 1px solid #d9d9d9;
  outline: medium none;
  width: 100%;
}
.sitemap-filter select {
  background: #fff;
  height: auto;
  width: auto;
  outline: inherit;
}
textarea {
  height: 170px !important;
  overflow: auto;
}
label {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}
.form-group {
  position: relative;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.help-block {
  height: 0;
  display: block;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  background: #F1F1F1;
  transition: all 0.3s ease;
}
.focus .help-block,
.checkbox > .help-block {
  height: auto;
  opacity: 1;
  padding: 10px;
}

// Redactor

.redactor_editor {
  background: #f3f3f3;
  box-shadow: none !important;
  border-radius: 0 0 4px 4px;
  white-space: normal;
  border: 1px solid #d9d9d9;
}

.redactor_toolbar {
  border-bottom: 0;
  background: lighten($cms-primary-col, 40%);
  border-radius: 4px 4px 0 0;
  box-shadow:0 0 0;
  border: 1px solid #d9d9d9;
  li {
    a {
      padding: 20px;
      &:hover {
        background: $cms-primary-col;
        color: white;
      }
    }
  }
}
.redactor.form-control {
  color: #555;
  padding: 20px;
  background:#f3f3f3;
}
.redactor_editor {
  min-height: 170px;
}

} // END ID Wrap
