/* =======================================================================
   NAVBAR
   Styles for CMS navbar
   ======================================================================= */

.cms-navbar {
  background:$primary2;
  margin:0px;
  border-radius:0;
  border:none;
  clear:both;
  .container {
    position:relative;
  }
  ul {
    margin:0px;
    float:right;
    li {
      display:inline-block;
    }
    a {
      color:#fff;
      display:block;
      padding:12px;
      &:hover {
        text-decoration:none;
        background: darken($primary2, 10%);
      }
    }
  }
  .cms-navbar-toggle {
    position:absolute;
    right:40px;
    bottom:-46px;
    z-index:10;
    padding:0px 20px 20px;
    color:#fff;
    span {
      display:block;
      background:#e34440;
      padding:4px 9px 2px;
      float:left;
    }
    &:hover {
      text-decoration:none;
    }
    span.warning {
      background: rgba(0, 0, 0, 0.4);
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .cms-navbar .cms-navbar-toggle {
    right:0px;
  }
}

.nav-div {
  border-right: 1px solid rgba(0,0,0,0.2);
  height: 50px;
  margin: 0px 20px;
}

/* ======= Navigation manager =======*/

.sitemap .td-link a{
  color: #999;
}
#nav-modal .modal-dialog {
  margin-top:100px;
}
#nav-modal .image label,
#nav-modal .image .form-wrapper,
#nav-modal .image .form-wrapper img,
#nav-modal .image .form-wrapper .image-inputs{
  float:left;
}
#nav-modal .image .form-wrapper{
  clear:both;
  margin-bottom:15px;
}
#nav-modal .image .form-wrapper img{
  margin-right:15px;
}
#nav-modal label em {
  font-family: "Proxima N W15 Reg", helvetica, sans-serif;
}
#nav-modal .remove-image input {
  margin-left:0px;
  margin-right:5px;
}
.ui-autocomplete.ui-menu {
  z-index:1100;
}
.ui-autocomplete.ui-menu .ui-menu-item a{
  padding: 8px 18px;
  line-height:1.1;
  border-radius: 0;
  border-bottom: 1px solid #f3f3f3;
}
.ui-autocomplete.ui-menu-item a em{
  font-size:70%;
  color: #666;
  padding-left:5px;
  font-style:normal;
}
.ui-autocomplete.ui-menu .ui-menu-item .ui-state-focus{
  margin: 0;
}
.ui-autocomplete.ui-menu {
    border: 1px solid #e9e9e9;
    border-radius: 0;
    box-shadow: 0 2px 2px #ccc;
    display: block;
    list-style: none outside none;
    margin: 0;
    outline: medium none;
    padding: 0px;
}
#inside .ui-autocomplete .ui-state-hover,
#inside .ui-autocomplete .ui-widget-content .ui-state-hover,
#inside .ui-widget-header .ui-state-hover,
#inside .ui-autocomplete  .ui-state-focus,
#inside .ui-autocomplete .ui-widget-content .ui-state-focus,
#inside .ui-widget-header .ui-state-focus{
  padding: 8px 18px !important;
    border-bottom: 1px solid #f3f3f3 !important;
}

/* tabs  */

.cms-main ul.nav.nav-tabs{
  border:0;
}
.controller_content_packages .tabs-wrap{
  position: relative;
  margin-bottom:30px;
}
.controller_content_packages .tabs-wrap hr{
  border-bottom: 6px solid #fff;
  border-top: 0 none;
  height: 36px;
  margin: 0;
  position: absolute;
  top: -12px;
  width: 498px;
  z-index: -1;
}
.controller_content_packages  .tabs-wrap  .nav-tabs{
  width: 640px;
  margin:30px 0 0 0;
  border-bottom: 0;
}
.controller_content_packages .tabs-wrap .nav > li{
  float: left;
  margin: 0 59px 0 0 !important;
  text-align: center;
  width: 153px !important;
}
.controller_content_packages .tabs-wrap .nav > li > a{
  padding: 16px 25px;
  border-radius: 3px;
  border:0;
  font-size: 14px;
  border-radius: 41px !important;
  background:#fff;
  color: #ccc;
}
.controller_content_packages .tabs-wrap  .nav > li.active > a{
  border-radius: 3px;
  border:0;
  background:$primary1;
  color: #fff;
}
.cms-main ul.nav.nav-tabs {
  margin-bottom:20px;
  a{
    border: 0 none;
    border-radius: 0;
    font-weight: bolder;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    background:$primary1;
    border:0;
    color: #fff;
    border-radius: 3px;
  }
}

.sitemap-tabs i {
  margin-right: 5px;
}
