.cms-sidebar-wrap {
  position: relative;
  margin-bottom: 50px;
}
.cms-sidebar {
    float: left;
    padding: 28px;
    background: #fff;
    padding-top:30px;
    width:100%;
    box-shadow:4px 4px 0px #e9e9e9;
    border-radius: 3px;
}
/*.cms-sidebar.affix-bottom {
  bottom: 600px;
  position: relative;
  width: 116%;
}
.cms-sidebar{
  width: 33.3%
}

.cms-sidebar.fixed {
  position: fixed;
  top: 90px;
  width: 30%;
}*/
.cms-sidebar {
  .nav-pills {
    border-bottom: 0;
  }
  .nav-pills > li.active > a {
    border-radius: 3px;
    background: $primary1;
  }
  .nav-pills a {
    color: $primary1; 
  }
  #activity, #discussion {
    height: 540px;
    overflow: scroll;
  }
}
.cms-sidebar-tabs .nav-pills li a {
    padding: 11px 6px 9px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.cms-sidebar #discussion textarea{
  background: #f3f3f3;
}

/*===== Personas   ======*/
.cms-persona-box {
  background: #f3f3f3;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 4px 4px 0px #e9e9e9, 5px 5px 1px rgba(0, 0, 0, 0.1), 8px 9px 0px #e8e8e8
  , 9px 10px 5px rgba(0, 0, 0, 0.2), 4px 6px 3px rgba(0,0,0,0.2);
  margin: 0 0 35px;
}
.persona-summary{
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: none;
}