//
// Sitemap
// --------------------------------------------------

// Content list

.sitemap-filter select {
  width: auto;
}
.sitemap .spacer{
  float: left;
  width: 20px;
  height: 36px;
  background: green;
  background: url('sitemap-spacer.png') 0 0 no-repeat;
}
.sitemap .spacer-mid{
  background-position: 0 -36px;
}
.sitemap .spacer-last{
  background-position: 0 -72px;
}
.sitemap .spacer-empty{
  background: none;
}
.sitemap tbody tr:hover {
  background: #f2f2f2;
}
.sitemap tbody tr:last-of-type:hover {
  background: transparent;
}
.sitemap .table td{
  border-top: none;
}
.sitemap td.td-name{
  padding: 0;
}
.sitemap td.td-name .sitemap-caret{
  width: 8px;
}
.sitemap td.td-name .fa-spinner{
  margin-left: -4px;
  width: 12px;
}
.sitemap .has-children td.td-name {
  cursor: pointer;
}
.sitemap td.td-name .name {
  padding: 8px 8px 8px 4px  ;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  text-overflow: ellipsis;
}
#content-types.sitemap td.td-name .name{
  max-width: 500px;
}
.dashboard-actions:empty {
  display: none;
}
.dashboard-well.well, .nested-fields.well{
  border: 0;
  border-radius: 3px;
  background: #fff;
}
.dashboard-actions .btn{
  padding: 14px;
}
