
.container-cms-edit {
  max-width: 100%;
  .nav-tabs li i {
    margin-right: 5px;
  }
}

/* Edit page */

.cms-title-icon{
  float: left;
}
.cms-form .form-group{
  background: none repeat scroll 0 0 #fff;
  border-radius: 4px;
  display: inline-block;
  padding: 15px;
  position: relative;
  width: 100%;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.tab-content-sitemap {
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px;
  padding: 30px;
}
.sitemap .table td {
  border-top: medium none;
  min-width: 77px;
}
.sitemap .table td.td-actions {
  min-width: 300px;
  text-align: right;
}
.sitemap .table td.td-name {
  min-width: 350px;
}
.sitemap .table td.td-link {
  word-break: break-word;
}







//
// Structure
// --------------------------------------------------

// General structure and layout

// SHAME - TODO - There has to be a better way than this!
body.controller_content_packages.action_edit,
body.controller_content_types,
body.controller_content_packages,
body.controller_navigation_items,
body.controller_users,
body.controller_registrations,
body.controller_sessions,
body.controller_personas {
  background: $cms-body-colour;
  color: #555;
}
.cms-main {
  padding-top: 30px;
  padding-bottom: 30px;
  @include media-query (sm) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.cms-page-header {
  margin: 0 0 30px;
  text-align: center;
  @include media-query (sm) {
    margin: 0 0 60px;
  }
}
.cms-well {
  border-radius: 4px;
  background: $cms-well-colour;
  padding: 20px;
  margin-bottom: 20px;
  @include media-query (sm) {
    padding: 30px;
    margin-bottom: 30px;
  }
}
.cms-fixed-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: $cms-well-colour;
  border-top: 1px solid #E7E7E7;
  z-index: 1000;
}
