.container.container-cms-edit, .container.cms-main{
  margin-top:60px;
}
.cms-sidebar-tabs .nav-pills li a {
    font-size: 14px;
    padding: 11px 10px 9px;
}

/* Edit page */

.container-cms-edit radio,
.container-cms-edit checkbox{
  margin-left:34px;
}
.cms-title-icon{
  float: left;
}
