//
// Tabs
// --------------------------------------------------

// Default tabs

.cms-tabs {
  list-style: none;
  margin: 0 0 20px;
  padding: 0 auto;
  background: #f9f9f9;
  li {
    display: inline-block;
    float: left;
    width: 16%;
    margin: 0;
    padding: 0;
    &.active a {
      background: $cms-primary-col;
      color: white !important;
      &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        content: '';
        width: 0;
        height: 0;
        border-top: solid 8px $cms-primary-col;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }
    }
  }
  a {
    display: block;
    padding: 20px 10px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    position: relative;
    span {
      display: none;
      @media only screen and (min-width: 769px) {
        display: inline;
      }
    }
    &:hover {
      background: lighten($cms-primary-col, 35%);
    }
  }
  i {
    margin-right: 5px;
  }
}
