
/*============Colours===========*/


$help-block: #e6e6e6 !default;


$primary1: #6C1F60 !default;
$primary2: #E34440 !default;
$primary3: #8BD5A7 !default;
$primary4: #39B3D7 !default;

$secondary1: #39B3D7 !default;
