//
// Nav
// --------------------------------------------------

.cms-header {
  background: #646B70;
  height: 60px;
  .btn {
    margin-top: 12px;
  }
}
.cms-nav-brand {
  font-family: "jaf-domus-titling-web";
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  padding: 21px 0 30px;
  font-size: 26px;
  line-height: 8px;
  display: inline-block;
  text-decoration: none;
}
.affix-spacer {
  height: 60px;
}
.affix .cms-nav-tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}
