//
// Colour variables
// --------------------------------------------------

// Yoomee brand red = #E1566C
// Yoomee brand yellow = #FBAA26
// Yoomee brand teal = #19ACA0
// Yoomee brand blue = #1CB1D9

// Backgrounds

$body-bg: #F9F8FC;
$bg1: #646B70;
$bg2: #4C545A;

// Brand colours

$brand-primary: #8C7AC6;

// Buttons

$btn-base: $bg2;
