//
// Colour variables
// --------------------------------------------------

// Yoomee brand red = #E1566C
// Yoomee brand yellow = #FBAA26
// Yoomee brand teal = #19ACA0
// Yoomee brand blue = #1CB1D9

// Backgrounds

$body-bg: #F9F8FC;
$bg1: #646B70;
$bg2: #4C545A;
$bg3: #444B50;

// Brand colours

$brand-primary: #8C7AC6;
$brand-primary-light: lighten($brand-primary, 30%);

// Colour for well borders / input borders / line breaks etc

$outline-col: #E2E2E2;

// Buttons

$btn-base: $bg2;

// General

$error-col: #E1566C;
$success-col: #82C67A;
