//
// General sidebar styles
// --------------------------------------------------

.cms-edit-status {
  padding: 30px 30px 0;
  background: lighten($brand-primary, 30%);
  border: 1px solid lighten($brand-primary, 30%);
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.cms-sidebar {
  .cms-well, .cms-tabs {
    border: 1px solid #E2E2E2;
    border-top: 0;
  }
  .cms-tabs {
    border-bottom: 1px solid #E2E2E2;
  }
}
.cms-sidebar-actions {
  margin-bottom: 30px;
}
