.cms-header
  .container
    .row
      .col-xs-6
        =link_to('YM CMS', '/content', :class => 'cms-nav-brand')
      .col-xs-6
        .text-right=link_to('return to site', '/', :class => 'btn btn-sm btn-success')
