-content_for :head do
  =javascript_include_tag("ym_content")
.container.cms-main#cms-style-container
  .row
    .col-xs-12
      %h1.cms-page-header=title 'Edit content persona'
  .row
    =render 'form'
