.row
  .col-md-8
    %h3=title 'Personas'
  .col-md-4
    =link_to('Add persona', new_persona_path, :icon => 'plus', :class => 'btn btn-small pull-right mt-2 mr-1')
-@personas.each_slice(4) do |personas|
  .row
    -personas.each do |persona|
      .col-md-3
        .well
          .row.mb-2
            .col-sm-6
              =image_for(persona, '100x100#')
            .col-sm-6
              %h4=persona
          =link_to('View / edit', edit_persona_path(persona), :class => 'btn btn-block')