-content_for :head do
  =javascript_include_tag("ym_content")
.container.cms-main#cms-style-container
  .row
    .col-xs-8
      %h1=title 'Personas'
    .col-xs-4
      =link_to('Add persona', new_persona_path, :icon => 'plus', :class => 'btn btn-success btn-small pull-right')
  -@persona_groups.each do |group|
    .row
      .col-md-8
        %h4=group
    -group.personas.each_slice(4) do |personas|
      .row
        -personas.each do |persona|
          .col-md-3
            .cms-well
              .row
                .col-sm-12.text-center
                  =image_for(persona, '150x150#')
                  %h4.mb-2
                    =persona.name
                    %br
                    %small=persona.category
                  =link_to('View / edit', edit_persona_path(persona), :class => 'btn btn-primary btn-small')
