/* =======================================================================

                                    CMS

   ======================================================================= */

@import 'sass/variables';
@import 'sass/buttons';
@import 'sass/margins';
@import 'sass/structure';
@import 'sass/bs-select';
@import 'sass/nav';
@import 'sass/sidebar';
@import 'sass/type';
@import 'sass/dashboard';


/* =======================================================================
   GENERAL
   General styles for all CMS content
   ======================================================================= */
.dashboard-well.well{
  border:0;
  border-radius:3px;
}
.paper {
  background-color: white;
  -webkit-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150);
  -moz-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150);
  box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150);
  -webkit-transition: all 0.5s ease;                  
  -moz-transition: all 0.5s ease;                 
  -o-transition: all 0.5s ease;   
  -ms-transition: all 0.5s ease;          
  transition: all 0.5s ease;
  img {
    opacity: 0.9;
    -webkit-transition: all 0.5s ease;                  
    -moz-transition: all 0.5s ease;                 
    -o-transition: all 0.5s ease;   
    -ms-transition: all 0.5s ease;          
    transition: all 0.5s ease;
  }
  &:hover img {
    opacity: 1;
    -webkit-transition: all 0.8s ease;                  
    -moz-transition: all 0.8s ease;                 
    -o-transition: all 0.8s ease;   
    -ms-transition: all 0.8s ease;          
    transition: all 0.8s ease;
  }
  &:hover {
    -webkit-box-shadow: 
          0px 0px   0 rgba(0,   0,   0,   0.100), 
          0px 0px   0 rgba(255, 255, 255, 1.0), 
          0px 0px   0 rgba(0,   0,   0,   0.125), 
          0px 0px   0 rgba(255, 255, 255, 1.0),  
          0px 0px   0 rgba(0,   0,   0,   0.150);
    -moz-box-shadow: 
          0px 0px   0 rgba(0,   0,   0,   0.100), 
          0px 0px   0 rgba(255, 255, 255, 1.0), 
          0px 0px   0 rgba(0,   0,   0,   0.125), 
          0px 0px   0 rgba(255, 255, 255, 1.0),  
          0px 0px   0 rgba(0,   0,   0,   0.150);
    box-shadow: 
          0px 0px   0 rgba(0,   0,   0,   0.100), 
          0px 0px   0 rgba(255, 255, 255, 1.0), 
          0px 0px   0 rgba(0,   0,   0,   0.125), 
          0px 0px   0 rgba(255, 255, 255, 1.0),  
          0px 0px   0 rgba(0,   0,   0,   0.150);
  }
}
.table-content-types {
  > tbody > tr.content-type > th {
    background: #666;
    color: #fff;
    line-height: 30px;
  }
}
$help-block: #f5f5f5 !default;
.cms-form {
	//disabling the 400px height on textareas for now- a bit hacky - needs sorting properly.
	textarea {
		height: 170px !important;
		overflow: auto;
	}
	.form-control {
		font-size: 16px;
		color: #000;
	}
	.focus .form-control {
		border-color: #ccc;
	}
	.form-group {
		position: relative;
		padding: 15px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		border-radius:4px;
		> label {
			font-size: 20px;
		}
	}
	.form-group.focus {
		background: $help-block;
		box-shadow: 2px 4px 0 rgba(0,0,0,0.1);
    padding-bottom:25px;
		label {
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
	.form-group.text.focus:before {
			content: "";
			display: block;
			background:url(/assets/cms-list-and-link.png) no-repeat top right;
			width: 46px;
			height: 19px;
			position: absolute;
			top: 20px;
			right: 20px;
			opacity: 0.8;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	}
	.help-block {
		height: 0;
		overflow: hidden;
		margin: 0;
		opacity: 0;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.focus .help-block,
  .checkbox > .help-block {
		height: auto;
		opacity: 1;
	}
}
 .cms-persona-box {
	background: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 4px 4px 0px white, 5px 5px 1px rgba(0, 0, 0, 0.1), 8px 9px 0px white, 9px 10px 5px rgba(0, 0, 0, 0.2), 4px 6px 3px rgba(0,0,0,0.2);
	margin: 0 0 35px;
}

 .container-cms-edit {
 	width: 100%;
 	max-width: 100%;
 }
.persona-group-select {
	float: left;
	width: 45%;
	margin: 0 5% 20px 0;
}
.cms-edit-group-title {
	border-bottom: 1px solid #ccc;
	font-size: 15px;
	padding: 0 0 5px;
	margin: 0 0 13px;
}
.persona-group-select .choice {
	font-weight: normal;
	font-family: "Proxima N W15 Reg", helvetica, sans-serif;
}
.cms-edit-context-box .control-label {
	display: none;
}

#content_package_notes {
	height: auto !important;
	min-height: 160px;
}

.discussion-item {
	float: left;
	width: 100%;
	margin: 20px 0 8px;
	.details {
		color: #999;
	}
}
.discussion-bubble {
	display: block;
	background: #4B9AC5;
	padding: 20px;
	margin: 0 0 20px;
	border-radius: 10px;
	color: #fff;
	position: relative;
}
.discussion-bubble:after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: -20px;
	left: 20px;
	border: 10px solid transparent;
	border-top: 10px solid #4B9AC5;
}
.discussion-avatar {
	float: left;
	width: 27px;
	margin: -5px 10px 0 18px;
}

.td-status {
	border-left: 14px solid #eee;
	border-left-color: rgba(0,0,0,0.05);
}
.td-status-ready-to-review, .td-status-pending {
	border-left-color: #F7AE42;
}
.td-status-published{
	border-left-color: #58AB58;
}

.content-boolean input[type=checkbox] { 
  margin-left: 0px;
  margin-right: 5px;
}


/* ===== Redactor =======*/

.redactor_toolbar li:last-child {
  float:right !important;
  padding-right:8px;
}
.container-cms-edit .redactor_toolbar{
  background: #f3f3f3;
  border:0;
  border-radius: 3px;
  padding: 10px;
}
.container-cms-edit .redactor_box {
    border: 1px solid #F3F3F3;
    border-radius: 3px;
    position: relative;
}

/* ===== Sortable =======*/

.form-sortable {
  .ui-sortable-helper {
    background:#ddd;
  }
  .well {
    font-size:16px;
    padding: 10px 15px;
    margin-bottom: 15px;
    cursor: move;
  }
  .well-placeholder {
    background:none;
    border-style:dashed;
    height:44px;
  }
  .controls{
    margin-right:180px;
  }
}








