%tr.content-package{:class => "status-#{content_package.status}"}
  %td.td-name
    =sitemap_spacers(content_package)
    %span.name=content_package
  %td{:class => "td-status td-status-#{content_package.status}"}
    =status(content_package.status)
  %td{:class => "td-status td-status-#{content_package.status}"}
    =content_package.due_date.try(:strftime, '%b %d, %Y')
  %td
    =link_to('View', content_package)
  %td
    =link_to('Edit', edit_content_package_path(content_package))
  %td
    -if can?(:new, ContentPackage.new)
      =link_if_can('Add child', new_content_package_path(:parent => content_package.id))
-content_package.children.each do |child|
  =render('content_package', :content_package => child)
