=semantic_form_for @content_package, :html => {:class => 'form-horizontal'} do |form|
  =form.inputs do
    =form.input :content_type_id, :as => :hidden
    =form.input :slug
    =form.input :permalink_path
    -@content_package.content_attributes.each do |content_attribute|
      =form.input content_attribute.slug, :as => content_attribute.field_type, :label => content_attribute.name
  =form.actions