#meta.tab-pane.cms-form
  =form.inputs do
    =parent_content_package_select(form)
    =form.input :logged_in_only, :label => "Only logged in users can view this"
    =form.input :hide_from_robots, :label => "Exclude from search engine indexing"
    =form.input :slug if current_user.yoomee_staff?
    =form.input :permalink_path, :prepend => "/" unless @content_package.viewless?
    %hr
    -@content_package.content_attributes.where(:meta => true).each do |content_attribute|
      =form.input content_attribute.slug, :as => content_attribute.field_type, :label => content_attribute.name.gsub('Meta ', ''), :hint => content_attribute.description