.container.cms-main
  .row
    .col-md-12
      %h1.mb-3.center=title 'Content list'
      .clearfix
      %ul.nav.nav-tabs.sitemap-tabs
        %li{:class => @content_packages && !@deleted_content_packages  ? 'active' : nil}
          =link_to("Content list", content_packages_path)
        -if can? :manage, ContentType
          %li{:class => @content_types  ? 'active' : nil}
            =link_to("Content templates", content_types_path)
        %li{:class => @deleted_content_packages  ? 'active' : nil}
          =link_to("Deleted content", deleted_content_packages_path)