:javascript
  $(document).ready(function() {
    YmContent.Redactor.init();
    SirTrevor.setDefaults({
      uploadUrl: $('#cms-style-container').data('sirTrevorUploadUrl')
    });
    $('.st-content').each(function() {
        new SirTrevor.Editor({
          el: $(this),
          blockTypes: $(this).data('blocktypes'),
          blockTypeLimits: $(this).data('blocktypelimits'),
          required: $(this).data('required')
        });
    });


    $("#content_package_author_id").on("change", function(){
      role = $("option:selected", this).data("role");
      if (role === "author") {
        $("#content_package_status").val("draft")
      }
    });
    $("input.js-save-progress").on("click", function(e) {
      e.preventDefault();
      $("#content_package_submit_action").click();
    });
  });

.container.cms-main#cms-style-container{data: {sir_trevor_upload_url: upload_sir_trevor_attachment_content_package_path(@content_package)} }
  =semantic_form_for @content_package do |form|
    .cms-fixed-toolbar
      .container
        .row
          .col-sm-2.col-sm-offset-10
            -if current_user.role == "author"
              =form.action :submit, :label => "Save Progress", :button_html => {:class => "btn btn-small btn-success js-save-progress btn-block"}
              =form.action :submit, :label => "Mark as ready to review", :button_html => {:class => "btn btn-small btn-primary btn-block"}
            -else
              =form.action :submit, :label => "Save", :button_html => {:class => "btn btn-small btn-success btn-block"}
    .row
      .col-xs-10
        %h1=title @content_package
    .row
      .col-md-7.pr-3
        %ul.cms-tabs
          %li.active=link_to("Content", '#content', 'data-toggle' => 'tab', :icon => 'paragraph')
          %li=link_to("Meta", '#meta', 'data-toggle' => 'tab', :icon => 'tag')
          -if current_user.admin?
            %li=link_to("Settings", '#settings', 'data-toggle' => 'tab', :icon => 'cog')
          -#%li=link_to("Related content", '#related', 'data-toggle' => 'tab')
        .tab-content.mb-2
          #content.tab-pane.active.cms-form
            -if @content_package.notes.present?
              .form-group.objective
                .row
                  .col-md-1
                    %i.fa.fa-flag.fa-2x
                  .col-md-10.ml-2
                    %label.mt-0 Content objective/goal
                    %p=@content_package.notes
            =form.inputs do
              -@non_meta_content_attributes.each do |content_attribute|
                =form.content_input content_attribute, input_html: {class: ("st-content hide" if content_attribute.field_type == 'rich'), data: (content_attribute.sir_trevor_limit_data if content_attribute.field_type == 'rich')}
          #meta.tab-pane.cms-form
            .form-group.objective
              .row
                .col-md-1
                  %i.fa.fa-tags.fa-2x
                .col-md-10.ml-2
                  %label.mt-0 Meta data
                  %p Override the site default meta tags
            =form.inputs do
              =form.input :meta_title, hint: 'Meta title: aim for 70 characters'
              =form.input :meta_description, hint: 'Meta short description: Brief summary of the page, aim for 70 characters'
              =form.input :meta_keywords, hint: 'Meta keywords: comma separated'
              =form.input :meta_image, as: :image
          -if current_user.admin?
            #settings.tab-pane.cms-form
              .form-group.objective
                .row
                  .col-md-1
                    %i.fa.fa-cog.fa-2x
                  .col-md-10.ml-2
                    %label.mt-0 Settings
                    %p Change page settings
              =form.inputs do
                =form.input :content_type_id, :as => :hidden
                =form.input :name
                =form.input :notes, :label => 'Content objective/goal', :input_html => {:rows => 4}
                .form-group#content_package_personas
                  %label.control-label Personas
                  -@persona_groups.each_slice(2) do |groups|
                    .row
                      -groups.each do |group|
                        .col-md-6
                          %h5.mb-1=group
                          =form.input :personas, :as => :check_boxes, :collection => group.personas, :label => false, :member_label => :to_s
                .clearfix
                =form.input :requested_by, :collection => User.where(:role => 'admin')
                =form.input :due_date, :order => [:day, :month, :year], :include_blank => false, :start_year => Date.today.year
                =form.input :review_frequency, :as => :radio, :collection => ContentPackage.review_frequencies.invert
              %h4.mb-1.ml-1 Page settings
              =form.inputs do
                =parent_content_package_select(form)
                =form.input :permalink_path, :prepend => @content_package.parent && @content_package.parent.respond_to?(:permalink_display_path) && YmContent.config.nested_permalinks ? @content_package.parent.permalink_display_path : '/' unless @content_package.viewless?
                =form.input :slug if current_user.yoomee_staff?
                =form.input :logged_in_only, :as => :content_boolean, :label => "Only logged in users can view this"
                =form.input :hide_from_robots, :as => :content_boolean, :label => "Exclude from search engine indexing"
          #related.tab-pane
          .mb-6
      .col-md-5.cms-sidebar-wrap
        #cms-sidebar.cms-sidebar
          .cms-edit-status
            %div{:class => ("hidden" unless current_user.role != "author")}
              %label{for: "content_package_author_id"} Assigned To
              =form.input :author_id, :as => :select, :collection => User.where("role<>''").map { |u| ["#{u.full_name} (#{u.role})", u.id, {:'data-role' => u.role }] }, :include_blank => true, :label => false
              %label{for: "content_package_status"} Status
              =form.input :status, :as => :select, :collection => ContentPackage.statuses(current_user).invert, :include_blank => false, :label => false
              #content_package_publish_at_fields{:class => content_package_publish_at_class}
                %label{for: "content_package_publish_at"} Publish at (optional)
                =form.input :publish_at, :as => :datepicker, :label => false
                .help-block{:class => @content_package.publish_at.present? ? '' : 'hidden'}
                  %p Page will be published but not shown to the public until this date.
          .clearfix
          %hr.mv-3
          .cms-sidebar-tabs
            %ul.cms-tabs
              %li.active=link_to("Activity", '#activity', 'data-toggle' => 'pill')
              %li=link_to("Personas", '#personas', 'data-toggle' => 'pill')
              %li=link_to("Context", '#context', 'data-toggle' => 'pill')
              -# %li=link_to("Discussion", '#discussion', 'data-toggle' => 'pill')
              -# %li=link_to("Scorecard", '#content-scorecard', 'data-toggle' => 'pill')
            .tab-content.mb-2
              #activity.tab-pane.active
                .cms-dashboard-well.clearfix.fadeIn
                  %ul.cms-activities.cms-activity-feed
                    -@activity_items.each do |activity|
                      =render("content_packages/activity", :include_name => true, :activity => activity)
                  -if @activity_items.total_pages != @activity_items.current_page
                    =link_to "See older activity", activity_content_package_path(@content_package), :remote => true, :class => 'btn btn-small js-older-activities pull-right mt-1'
              #personas.tab-pane
                - if @content_package.personas.present?
                  %h5.hide Audience/personas
                  -@content_package.personas.each do |persona|
                    .cms-persona-box.p-2.mt-2
                      .row
                        .col-sm-4
                          =image_for(persona, '120x120#')
                        .col-sm-8
                          %h4.mt-3
                            =persona
                          %h5="Age #{persona.age}"
                        .btn.btn-small.pull-right.more-persona.mr-2.mt-1 Read more
                      .persona-summary.mt-2
                        %p
                          %em=persona.summary
                        -if persona.benefits.present?
                          %p
                            %strong="Goals for #{persona.name}"
                          %ul
                            -persona.benefits.each do |benefit|
                              %li=benefit
                        -if persona.file
                          =link_to("Download full persona", persona.file.url, :target => '_blank', :class => 'btn btn-small pull-right mt-2 btn-primary2', :icon => 'download')
                      .clearfix
              #context.tab-pane
                %h5 Content type
                .cms-edit-context-box
                  =@content_package.content_type
                %h5 Content requested by
                .cms-edit-context-box.requested-by
                  =@content_package.requested_by.try(:full_name)
              #discussion.tab-pane
                =render("discussion")
              #content-scorecard.tab-pane
                Not defined yet
