:javascript
  $(document).ready(function(){YmContent.Redactor.init();});

.container
.container.container-cms-edit
  .row
    .col-md-8.pr-3
      %h2.mb-3=title @content_package
      %ul.nav.nav-tabs.mb-2
        %li.active=link_to("Content", '#content', 'data-toggle' => 'tab')
        %li=link_to("Meta", '#meta', 'data-toggle' => 'tab')
        %li=link_to("Related content", '#related', 'data-toggle' => 'tab')
      =semantic_form_for @content_package do |form|
        .tab-content
          #content.tab-pane.active.cms-form
            =form.inputs do
              =form.input :content_type_id, :as => :hidden
              =form.input :name if current_user.admin?
              -@content_package.content_attributes.where(:meta => false).each do |content_attribute|
                =form.content_input content_attribute
          #meta.tab-pane.cms-form
            =form.inputs do
              =parent_content_package_select(form)
              =form.input :logged_in_only, :label => "Only logged in users can view this"
              =form.input :hide_from_robots, :label => "Exclude from search engine indexing"
              =form.input :slug if current_user.yoomee_staff?
              =form.input :permalink_path, :prepend => "/" unless @content_package.viewless?
              %hr
              -@content_package.content_attributes.where(:meta => true).each do |content_attribute|
                =form.input content_attribute.slug, :as => content_attribute.field_type, :label => content_attribute.name, :hint => content_attribute.description
          #related.tab-pane
        =form.actions do
          =form.action :submit, :label => "Update #{@content_package.package_name}"
          .mb-6
    .col-md-4.cms-sidebar-wrap
      #cms-sidebar.cms-sidebar
        .cms-edit-status.mb-2
          =semantic_form_for @content_package, :html => {:class => 'form-inline'} do |form|
            %label{for: "content_package_status"} Status
            %br 
            =form.input :status, :as => :select, :collection => ContentPackage.statuses(current_user).invert, :include_blank => false, :label => false
            =form.action :submit, :label => "Save", :button_html => {:class => "btn btn-confirm btn-small"}
        %hr
        .cms-sidebar-tabs
          %ul.nav.nav-pills.mb-3
            %li.active=link_to("Context", '#context', 'data-toggle' => 'pill')
            %li=link_to("Discussion", '#discussion', 'data-toggle' => 'pill')
            %li=link_to("Activity", '#activity', 'data-toggle' => 'pill')
            %li=link_to("Content scorecard", '#content-scorecard', 'data-toggle' => 'pill')
          .tab-content
            #context.tab-pane.active
              - if @content_package.personas.present?
                %h5.hide Audience/personas
                -@content_package.personas.each do |persona|
                  .cms-persona-box.p-2.mt-2
                    .row.mb-2
                      .col-sm-4
                        =image_for(persona, '120x120#')
                      .col-sm-8
                        %h4=persona
                        %h5="Age #{persona.age}"
                    %p
                      %em=persona.summary
                    -if persona.benefits.present?
                      %p
                        %strong Fact checker benefits
                      %ul
                        -persona.benefits.each do |benefit|
                          %li=benefit
                    -if persona.file
                      =link_to("Download full persona", persona.file.url, :target => '_blank', :class => 'btn btn-small pull-right')
                    .clearfix
              -if @content_package.notes.present?
                %h5 Content objective/goal
                .cms-edit-context-box
                  =simple_format(@content_package.notes)
              %h5 Content requested by
              .cms-edit-context-box.mb-2
                =@content_package.requested_by.full_name
              %h5 Content assigned to
              .cms-edit-context-box
                =@content_package.author.try(:full_name)
            #discussion.tab-pane
              =render("discussion", :content_package_id => @content_package.id)
            #activity.tab-pane
              .cms-dashboard-well.clearfix.fadeIn
                %ul.cms-activities
                  %li.cms-activity
                    %img.avatar.thumbnail.cms-thumbnail{height: "45px", src: "https://yoomee1.gathercontent.com/assets/img/avatar.png", width: "45px"}/
                    %p.desc
                      %span.user-name Lindsay Sharman
                      saved a revision of
                      %a{href: "//yoomee1.gathercontent.com/page/718678", target: "_blank"} National Citizens Service
                    %span.when 22 minutes ago
                  %li.cms-activity
                    %img.avatar.thumbnail.cms-thumbnail{height: "45px", src: "https://yoomee1.gathercontent.com/assets/img/avatar.png", width: "45px"}/
                    %p.desc
                      %span.user-name Andy Mayer
                      saved a revision of
                      %a{href: "//yoomee1.gathercontent.com/page/718678", target: "_blank"} National Citizens Service
                    %span.when 40 minutes ago
                  %li.cms-activity
                    %img.avatar.thumbnail.cms-thumbnail{height: "45px", src: "https://yoomee1.gathercontent.com/assets/img/avatar.png", width: "45px"}/
                    %p.desc
                      %span.user-name Matt Atkins
                      saved a revision of
                      %a{href: "//yoomee1.gathercontent.com/page/718678", target: "_blank"} National Citizens Service
                    %span.when 3 hours ago
                  %li.cms-activity
                    %img.avatar.thumbnail.cms-thumbnail{height: "45px", src: "https://yoomee1.gathercontent.com/assets/img/avatar.png", width: "45px"}/
                    %p.desc
                      %span.user-name Lindsay Sharman
                      saved a revision of
                      %a{href: "//yoomee1.gathercontent.com/page/718678", target: "_blank"} National Citizens Service
                    %span.when 26 minutes ago
                  %li.cms-activity
                    %img.avatar.thumbnail.cms-thumbnail{height: "45px", src: "https://yoomee1.gathercontent.com/assets/img/avatar.png", width: "45px"}/
                    %p.desc
                      %span.user-name Lindsay Sharman
                      saved a revision of
                      %a{href: "//yoomee1.gathercontent.com/page/718678", target: "_blank"} National Citizens Service
                    %span.when 28 minutes ago
                .padding20px
                  %a.btn.btn-small.ajax-activity-show-more{href: "#"} See older activity    


            #content-scorecard.tab-pane
