:javascript
  $(document).ready(function() {
    YmContent.Redactor.init();
    $("#content_package_author_id").on("change", function(){
      role = $("option:selected", this).data("role");
      if (role === "author") {
        $("#content_package_status").val("draft")
      }
    });
    $("input.js-save-progress").on("click", function(e) {
      e.preventDefault();
      $("#content_package_submit_action").click();
    });
  });

.container
.container.container-cms-edit.cms-main
  .row
    .col-md-7.pr-3
      %h2.mb-3=title @content_package
      %ul.nav.nav-tabs.mb-2
        %li.active=link_to("Content", '#content', 'data-toggle' => 'tab')
        %li=link_to("Page settings", '#meta', 'data-toggle' => 'tab')
        -if current_user.admin?
          %li=link_to("Editor settings", '#editor', 'data-toggle' => 'tab')
        -#%li=link_to("Related content", '#related', 'data-toggle' => 'tab')
      =semantic_form_for @content_package do |form|
        .tab-content.mb-2
          #content.tab-pane.active.cms-form
            =form.inputs do
              -@content_package.content_attributes.where(:meta => false).each do |content_attribute|
                =form.content_input content_attribute
          =render("meta_tab", :form => form)
          -if current_user.admin?
            #editor.tab-pane.cms-form
              =form.inputs do
                =form.input :content_type_id, :as => :hidden
                =form.input :name
                =form.input :notes, :label => 'Content objective/goal', :input_html => {:rows => 4}
                .form-group#content_package_personas
                  %label.control-label Personas
                  -PersonaGroup.all.each_slice(2) do |groups|
                    .row
                      -groups.each do |group|
                        .col-md-6
                          %h5.mb-1=group
                          =form.input :personas, :as => :check_boxes, :collection => group.personas, :label => false, :member_label => :to_s
                .clearfix
                =form.input :requested_by, :collection => User.where(:role => 'admin')
                =form.input :due_date, :order => [:day, :month, :year], :include_blank => false, :start_year => Date.today.year
                =form.input :review_frequency, :as => :radio, :collection => ContentPackage.review_frequencies.invert
          #related.tab-pane
        =form.actions do
          =form.action :submit, :label => "Update #{@content_package.package_name}"
          .mb-6
    .col-md-5.cms-sidebar-wrap.ph-0
      #cms-sidebar.cms-sidebar
        .cms-edit-status.mb-2
          =semantic_form_for @content_package do |form|
            %div{:class => ("hidden" unless current_user.role != "author")}
              %label{for: "content_package_author_id"} Assigned To
              =form.input :author_id, :as => :select, :collection => User.where("role<>''").map { |u| ["#{u.full_name} (#{u.role})", u.id, {:'data-role' => u.role }] }, :include_blank => true, :label => false
              %label{for: "content_package_status"} Status
              =form.input :status, :as => :select, :collection => ContentPackage.statuses(current_user).invert, :include_blank => false, :label => false
            -if current_user.role == "author"
              =form.action :submit, :label => "Mark as ready to review", :button_html => {:class => "btn btn-primary1 btn-block"}
              =form.action :submit, :label => "Save Progress", :button_html => {:class => "btn btn-confirm btn-block js-save-progress"}
            -else
              =form.action :submit, :label => "Save", :button_html => {:class => "btn btn-primary2 btn-confirm btn ph-6 pull-right"}
        .clearfix
        %hr
        .cms-sidebar-tabs
          %ul.nav.nav-pills.mb-3
            %li.active=link_to("Context", '#context', 'data-toggle' => 'pill')
            %li=link_to("Discussion", '#discussion', 'data-toggle' => 'pill')
            %li=link_to("Activity", '#activity', 'data-toggle' => 'pill')
            %li=link_to("Content scorecard", '#content-scorecard', 'data-toggle' => 'pill')
          .tab-content.mb-2
            #context.tab-pane.active
              - if @content_package.personas.present?
                %h5.hide Audience/personas
                -@content_package.personas.each do |persona|
                  .cms-persona-box.p-2.mt-2
                    .row
                      .col-sm-4
                        =image_for(persona, '120x120#')
                      .col-sm-8
                        %h4=persona
                        %h5="Age #{persona.age}"
                      .btn.btn-small.pull-right.more-persona.mr-2.mt-1.btn-primary3 Read more
                    .persona-summary.mt-2
                      %p
                        %em=persona.summary
                      -if persona.benefits.present?
                        %p
                          %strong Fact checker benefits
                        %ul
                          -persona.benefits.each do |benefit|
                            %li=benefit
                      -if persona.file
                        =link_to("Download full persona", persona.file.url, :target => '_blank', :class => 'btn btn-small pull-right mt-2 btn-primary2', :icon => 'download')
                    .clearfix
              -if @content_package.notes.present?
                %h5 Content objective/goal
                .cms-edit-context-box
                  =simple_format(@content_package.notes)
              %h5 Content requested by
              .cms-edit-context-box.requested-by.mb-2
                =@content_package.requested_by.try(:full_name)
              %h5 Content assigned to
              .cms-edit-context-box
                =@content_package.author.try(:full_name)
            #discussion.tab-pane
              =render("discussion")
            #activity.tab-pane
              .cms-dashboard-well.clearfix.fadeIn
                %ul.cms-activities
                  -activity_items = @content_package.activity_items.paginate(:page => 1, :per_page => 5)
                  -activity_items.each do |activity|
                    =render("content_packages/activity", :include_name => true, :activity => activity)
                -if activity_items.total_pages != activity_items.current_page
                  =link_to "See older activity", activity_content_packages_path(@content_package), :remote => true, :class => 'btn btn-small js-older-activities pull-right mt-1'

            #content-scorecard.tab-pane
