:javascript
  $(document).ready(function() {
    YmContent.Sitemap.init();
    // set up search form
    SearchManager.init();
    #{"$('#content-package-#{params[:open]}').effect('highlight', 3500);" if @open}
  });
=render("content_packages/sitemap_header")
.container
  .tab-content.tab-content-sitemap.mb-5
    #sitemap.sitemap.tab-pane.active
      #content_search.form
        =semantic_form_for 'content_search', :remote => true do |form|
          =form.input :link, :label => false, :input_html => {:placeholder => "Quick find: start typing the title or web address"}, :wrapper_html => {:style => "display:block;"}
      %table.table
        %thead
          %tr
            %th.col-md-6 Name
            %th.col-md-2 Status
            %th.col-md-2 Due Date
            %th{:colspan => 4}
              .sitemap-filter.pull-right
                %strong Filter
                &nbsp;
                =select_tag(:status, options_for_select([['All', nil]] + ContentPackage.statuses(current_user).invert.to_a, params[:filter]))
        %tbody#content-packages-list
          -@content_packages.each do |content_package|
            =render('content_package', :content_package => content_package)
          %tr
            %td{:colspan => 7}
              =link_if_can("Add new content", [:new, ContentPackage.new], :icon => 'plus')
