:javascript
  $(document).ready(function(){
    YmContent.Sitemap.init()
  });
%h2.mb-3.pull-left=title 'Site map & content types'
=link_if_can('Add content type', [:new, ContentType.new], :icon => 'plus', :class => 'btn btn-small pull-right mt-2 mr-1')
.clearfix
%ul.nav.nav-tabs.mb-2
  %li.active=link_to("Site map", '#site-map', 'data-toggle' => 'tab')
  -if can? :manage, ContentType
    %li=link_to("Content types", '#content-types', 'data-toggle' => 'tab')
.tab-content
  #site-map.tab-pane.active
    %table.table
      %thead
        %tr
          %th.col-md-6 Name
          %th.col-md-2 Status
          %th.col-md-2 Due Date
          %th{:colspan => 4}
            .sitemap-filter.pull-right
              %strong Filter
              &nbsp;
              =select_tag(:status, options_for_select([['All', nil]] + ContentPackage.statuses(current_user).invert.to_a, params[:filter])) 
      %tbody
        -@content_packages.each do |content_package|
          =render('content_package', :content_package => content_package)
        %tr
          %td{:colspan => 7}
            =link_if_can("Add new content", [:new, ContentPackage.new], :icon => 'plus')
  -if can? :manage, ContentType
    #content-types.tab-pane
      %table.table.table-content-types
        %thead
          %tr
            %th.col-md-6 Content type / Name
            %th.col-md-4 Status
            %th{:colspan => 5}
        %tbody
          -@content_types.each do |content_type|
            %tr.content-type
              %td{:colspan => 5}
                =content_type.to_s.pluralize
                =needs_design(content_type)
                .pull-right
                  =link_to('Edit content type', edit_content_type_path(content_type))
                  &nbsp;
                  =link_to("Create content", new_content_type_content_package_path(content_type))
            -content_type.content_packages.order(:slug).each do |content_package|
              %tr{:class => "status-#{content_package.status}"}
                %td
                  =('&nbsp;' * 3).html_safe
                  =content_package
                %td{:class => "td-status td-status-#{content_package.status}"}
                  =status(content_package.status)
                %td
                  =link_to('View', content_package)
                %td
                  =link_to('Edit', edit_content_package_path(content_package))
                %td
                  -if can?(:new, ContentPackage.new)
                    =link_if_can('Add child', new_content_package_path(:parent => content_package.id))