%h3=title "New content"
%ul.nav.nav-tabs
  %li.active=link_to("Content type", '#content-type', 'data-toggle' => 'tab')
  %li=link_to("Add context", '#context', 'data-toggle' => 'tab')
  %li=link_to("Assign author", '#author', 'data-toggle' => 'tab')
=semantic_form_for @content_package do |form|
  .tab-content
    #content-type.tab-pane.active
      =form.inputs do
        =form.input :content_type, :as => :radio
        =link_to("Add context", '#context', 'data-toggle' => 'tab', :class => 'btn')
    #context.tab-pane
      %h4 Intended audience
      =form.inputs do
        -PersonaGroup.all.each do |group|
          %h5=group
          =form.input :personas, :as => :check_boxes, :collection => group.personas, :label => false
        =form.input :notes, :label => 'Content objective/goal', :input_html => {:rows => 4}
        =link_to("Assign author", '#author', 'data-toggle' => 'tab', :class => 'btn')
    #author.tab-pane
      =form.inputs do
        =form.input :author
      =form.action :submit, :label => 'Finish'
