=render("content_packages/sitemap_header")
.container
  .tab-content.tab-content-sitemap.mb-5
    #navigation-manager.tab-pane.active
      #nav-table.sitemap
        =render('navigation_items/table', :navigation_items => NavigationItem.root)
      #nav-modal.modal.fade
        .modal-dialog
          .modal-content